body {
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('https://media.istockphoto.com/id/1451079337/photo/customer-review-good-rating-concept-hand-pressing-user-and-five-star-icon-on-visual-screen.jpg?s=612x612&w=0&k=20&c=KftvGEGrkQRLO_dqRyHmMW0EDFraAOjD9lrpMKpQR1w=');
  }
  
.page-title {
  margin: 5px 0 5px 0;
  border-radius: 50px;
  height: 350px;
  width: 600px;
  color: teal;
  
 
}

.books {
  background-image: url('https://media.istockphoto.com/id/583816330/photo/diverse-group-of-friends-discussing-a-book-in-library.webp?s=1024x1024&w=is&k=20&c=H-qVf3OiNGJwTWrOUjGOT0U_Ht1XBJdK2nPXPSffzHc=');
}
  .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      color: teal;
      position: fixed;
      width: 100%;
  }
  
  a {
      text-decoration: none;
  }
  
  .navbar1 {
      top: 0;
      padding: 1px 0 3px 0;
      background-color: white;
  }

  #logo {
      font-weight: bold;
  }

  .navbar1 a {
  color: teal;
  }
  .navbar2 {
      top: 45px; /* Adjust this value to position the second navbar */
      padding: 5px 0 5px 0;
      background-color: cadetblue;
  }
  
  .navbar2 a {
   color: white;
  }
  .content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .posts {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid cadetblue;
    border-radius: 3px;
    margin-bottom: 100px;  
    width: 50%;
  }

  article {
    margin-bottom: 20px;
  }
  footer {
   bottom: 0;
   position: fixed;
   background-color: cadetblue;
   width: 100%;
  }