body {
    margin: 0;
    background-color: teal;
  }
  
  .navbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      color: teal;
      position: fixed;
      width: 100%;
  }
  
  a {
      text-decoration: none;
  }
  
  .navbar1 {
      top: 0;
      padding: 1px 0 3px 0;
      background-color: white;
  }

  #logo {
      font-weight: bold;
  }

  .navbar1 a {
  color: teal;
  }
  .navbar2 {
      top: 45px; /* Adjust this value to position the second navbar */
      padding: 5px 0 5px 0;
      background-color: cadetblue;
  }
  
  .navbar2 a {
   color: white;
  }
  .content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
  }
  .posts {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid cadetblue;
    border-radius: 3px;
    margin-bottom: 100px;  
    width: 50%;
  }

  article {
    margin-bottom: 20px;
  }
  footer {
   bottom: 0;
   position: fixed;
   background-color: cadetblue;
   width: 100%;
  }