<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>ReviewMe - {{ title }}</title>
    {% else %}
        <title>ReviewMe</title>
    {% endif %}
</head>
<body>
    <div class="navbar navbar1">
        <h3 id="logo">ReviewMe</h3>
        <a href="/home">Home</a>
        <a href="#">Sign In/Up</a>
      </div>
      
      <div class="navbar navbar2">
        <a href="/appliances">Appliances</a>
        <a href="/movies">Movies</a>
        <a href="/books">Books</a>
        </div>
      
      <div class="content">
        <!-- Your content here -->
        <div class="posts">
        {% block content %} {% endblock %}
        
        </div>
      </div>
      <footer>
      <p>
      Website created by <strong>Amal Dahshan </strong> </p>
      <p>
      Contact developer : 
      <button>LinkedIn</button>
      <button>Twitter</button></p>
      </footer>
       <script src="script.js"></script>
    </body>
</html>
